# Stytch Authentication (Frontend)
NEXT_PUBLIC_STYTCH_PUBLIC_TOKEN=
STYTCH_PROJECT_ID=
STYTCH_SECRET=

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:9000
NEXT_PUBLIC_STOREFRONT_URL=http://localhost:3000

# Environment
NODE_ENV=development
